.contacto-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color:#E6E1DB ;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 400px;
   
}

h2 {
    margin: 20px 0 10px; /* Espaciado arriba y abajo */
    font-size: 1.8em;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}

p {
    margin: 5px 0;
    line-height: 1.6; /* Para mejorar la legibilidad */
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

p + h2 {
    margin-top: 20px; /* Espacio adicional entre cada sección */
}

.footer-address p {
    font-size: 14px !important;
    color: #3f3f3f;
    /* text-align: left; */
}
